@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Maison";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/MaisonNeue.ttf) format("ttf");
}

.Maison {
  font-family: "Maison";
}
